@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: " Helvetica, sans-serif";
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}